.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.link {
  color: #999;
  text-decoration: none;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.leftnav,
.rightnav {
  width: 20%;
}

.main {
  width: 60%;
}
