.container {
  background-color: #48be9d;
  display: flex;
  flex-direction: row;
}

.container > h1 {
  color: white;
  font-size: 23px;
  padding: 2px;
}

.logout {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

.username {
  /* margin-left: auto; */
  margin-right: 10px;
}
