.container {
  margin-top: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 1rem;
  border: 1px solid #ccc;
}
.top button {
  font: inherit;
  cursor: pointer;

  font-weight: bold;

  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.orange {
  background: #ff652f;
  color: #fff;
  text-shadow: 0 -1px 0 #c83400;
}
.mint {
  background: #5bc5a7;
  color: #fff;
  text-shadow: 0 -1px 0 #318970;
}
.summary {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  /* padding-bottom: 2rem; */
  margin: 1rem;
  border: 1px solid #ccc;
}

.summary_item {
  text-align: center;
  /* border: 1px solid #ccc; */
}
